params {
    help = false

    // Input
    inputs = "inputs"
    outputs = "output"
    sample_sheet = "inputs/sample-sheet.csv"
    ligands_sdf = "tools.sdf" // "frags.smi"
    known_abx_sdf = null
    ortholog_table = null
    known_activities = null

    // Surrogate
    surrogate_type       = false //"xgboost"
    train_fraction       = 0.2
    fp_radius            = 2
    fp_nbits             = 2048
}
