manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-dock"
    description     = "Nextflow pipeline for docking."
    defaultBranch   = "v0.0.1"
    nextflowVersion = '!>=24.00.0'
    version         = "0.0.1"
    doi             = ''

}


// ─── Default parameters ─────────────────────────────────────────

params {
    help = false

    // Input
    inputs = "inputs"
    outputs = "output"
    sample_sheet       = null
    known_abx_sdf      = null
    ortholog_table     = null
    known_activities   = null
    ligands_sdf        = null

    // Docking
    gnina_exhaustiveness = 16
    gnina_num_modes      = 4
    gnina_cnn            = "fast" //"crossdock_default2018"
    box_padding          = 1.0
    gnina_cpus           = 4
    gnina_gpu            = true

    // Surrogate
    surrogate_type       = "xgboost"
    train_fraction       = 0.2
    fp_radius            = 2
    fp_nbits             = 2048
}

// ─── Process defaults ───────────────────────────────────────────

process {
  container = 'ghcr.io/scbirlab/nf-dock:latest'
  containerEngine = 'auto'  // docker, singularity, or podman
  conda = "${projectDir}/environment.yml"
}

conda {
  createTimeout = "3h"
  cacheDir = "${projectDir}/.conda"
}

singularity {
  autoMounts = true
  cacheDir = "${projectDir}/.singularity"
  runOptions = "--network=none"
  pullTimeout = "3h"
}

docker {
  cacheDir = "${projectDir}/.docker"
  temp = true  // run in isolated container mount
}

profiles {

  standard {

    singularity.enabled = true

    process {
      executor = 'slurm'

      withLabel: big_cpu {
        cpus = 16
        memory = 64.GB
      }

      withLabel: some_mem {
        memory = 8.GB
      }

      withLabel: med_mem {
        memory = 32.GB
      }

    }

    dag {
      enabled = true
      overwrite = true
    }

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

  }

  local {

    process {
      executor = 'local'
      memory = 16.GB

      withLabel: big_cpu {
        cpus = 8
      }

    }

  }

  gh {

    docker.enabled = true
    docker.runOptions = '-u 1001:1001'

    process {
      executor = 'local'
      cpus = 1
      memory = 12.GB
    }

  }

}